<a href="https://colab.research.google.com/github/Apoorv0001/Apoorv0001/blob/master/Exploratory_Data_Analysis_on_Haberman_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Description:**

The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
column_name = ['Age','Operation_year','Axil_nodes','Survival_nodes'] 
haberman_cancer = pd.read_csv("/content/drive/My Drive/Datasets/haberman.csv",names = column_name)

In [6]:
haberman_cancer.shape

(306, 4)

In [7]:
haberman_cancer.columns

Index(['Age', 'Operation_year', 'Axil_nodes', 'Survival_nodes'], dtype='object')

In [8]:
print(haberman_cancer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             306 non-null    int64
 1   Operation_year  306 non-null    int64
 2   Axil_nodes      306 non-null    int64
 3   Survival_nodes  306 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB
None

In [9]:
haberman_cancer.head(10)

   Age  Operation_year  Axil_nodes  Survival_nodes
0   30              64           1               1
1   30              62           3               1
2   30              65           0               1
3   31              59           2               1
4   31              65           4               1
5   33              58          10               1
6   33              60           0               1
7   34              59           0               2
8   34              66           9               2
9   34              58          30               1

In [10]:
haberman_cancer.tail(10)

     Age  Operation_year  Axil_nodes  Survival_nodes
296   72              67           3               1
297   73              62           0               1
298   73              68           0               1
299   74              65           3               2
300   74              63           0               1
301   75              62           1               1
302   76              67           0               1
303   77              65           3               1
304   78              65           1               2
305   83              58           2               2

In [11]:
haberman_cancer['Survival_nodes'].value_counts()

1    225
2     81
Name: Survival_nodes, dtype: int64

In [12]:
haberman_cancer.iloc[:,-1].value_counts(normalize = True)

1    0.735294
2    0.264706
Name: Survival_nodes, dtype: float64